<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= pageTitle %></title>
</head>
<body>
    <h1>Welcome to the MVC App</h1>
    <ul>
        <% controls.forEach(control => { %>
            <li><%= control.controlID %> (<%= control.state %>)</li>
        <% }); %>
    </ul>
</body>
</html>
